img#octopus {
  display: block;
  margin: auto;
  margin-top: 75px;
}

img#glasses {
  display: block;
  margin: auto;
  margin-top:-5px;
}

img#hat {
  display: block;
  margin: auto;
  margin-top:-350px;
}
